<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="/css/register.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
  <div class="main">
    <section class="signup">
      <div class="container">
        <div class="signup-content">
          <div class="signup-form">
            <h2 class="form-title">Sign up</h2>
            <form action="/users/register" method="POST" class="register-form" id="register-form">
              <div class="form-group">
                  <!-- <label for="name">Name</label> -->
                  <label for="name"><i class="material-icons"> account_circle </i></label>
                  <input
                    type="name"
                    name="name"
                    placeholder="Enter Name"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
                  />
              </div>
              <div class="form-group">
                  <!-- <label for="email">Email</label> -->
                  <label for="email"><i class="material-icons"> email </i></label>
                  <input
                    type="email"
                    name="email"
                    placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />
                </div>
              <div class="form-group">
                <!-- <label for="password">Password</label> -->
                <label for="pass"><i class="material-icons"> lock </i></label>
                <input
                  type="password"
                  name="password"
                  placeholder="Create Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
                />
              </div>
              <div class="form-group">
                <!-- <label for="password2">Confirm Password</label> -->
                <label for="re-pass"><i class="material-icons-outlined"> lock </i></label>
                <input
                  type="password"
                  name="password2"
                  placeholder="Confirm Password"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                />
              </div>
              <%- include ('./partials/messages') %>
              <br>
              <br>
              <div class="wrapper">
                <div class="link_wrapper">
                  <a href="#" onclick="document.getElementById('register-form').submit()">Register</a>
                  <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                      <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
                    </svg>
                  </div>
                </div>
              </div>
              <!-- <button type="submit" class="btn btn-primary btn-block">
                Register
              </button> -->
            </form>
          </div>
          <div class="signup-image">
            <figure class="floating"><img src="/images/signup-image.jpg" alt="sign up image"></figure>
            <p>Have An Account? <a href="/users/login">Login</a></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>

<!-- Recovery Code -->
<!-- <h1>Register</h1>
<%- include ('./partials/messages') %>
<form action="/users/register" method="POST">
<div>
    <label for="name">Name</label>
    <input
      type="name"
      name="name"
      placeholder="Enter Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
    />

</div>
<div>
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />
  </div>
  <div >
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
    />
  </div>
  <div >
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
</form>
<p >Have An Account? <a href="/users/login">Login</a></p> -->